{% extends "base.html" %}

{% block content %}
<style>
    .chartBox {
        width: 80%;
    }
</style>
<h2 id="latestOperationA"></h2><h2 id="latestOperationB"></h2><h2 id="latestOperationC"></h2>

<p id="return"></p>     <!-- 將返回的值 設定在這個<p>內  -->
<p id="return2"></p> 

<div id="div" class="chartBox">
    <canvas id="myChart"></canvas>
</div>
<div id="div1" class="chartBox" style="width: 50%; height: 100%; float: left;">
    <canvas id="myChart_A"></canvas>
</div>
<div id="div2" class="chartBox" style="margin-left: 50%; width: 50%; height: 100%;">
    <canvas id="myChart_B"></canvas>
</div>
<script type="text/javascript" src="../js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}