{% extends "base.html" %}

{% block content %}
<style>
    .chartBox {
        width: 60%;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    .row {
        margin-left:-5px;
        margin-right:-5px;
    }
    .column {
        float: left;
        width: 40%;
        padding: 5px;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 1px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .textmiddle {
        text-align:center;
    }

</style>

<body style="right: 3px">
<div class="row">
    <div class="column">
        <table id="table1" style="width: 100%">
        <tr>
            <th>Latest Operation</th>
            <th>Status</th>
            <th>Recorded</th>
            <th>Acceptable Range</th>
        </tr>
        <tr>
            <td>Maximum Current</td>
            <td id="latestOperationA"></td>
            <td id="latestMaxA"></td>
            <td class="textmiddle"><span style="color: green">&#60;12</span> | <span style="color: orange">12-16</span> | <span style="color: red">&#62;16</span></td>
        </tr>
        <tr>
            <td>Steady Current</td>
            <td id="latestOperationB"></td>
            <td id="latestSteadyA"></td>
            <td class="textmiddle"><span style="color: green">&#60;3</span> | <span style="color: orange">3-6</span> | <span style="color: red">&#62;6</span></td>
        </tr>
        <tr>
            <td>Operation Time</td>
            <td id="latestOperationC"></td>
            <td id="latestTime"></td>
            <td class="textmiddle"><span style="color: green">&#60;7.5</span> | <span style="color: orange">7.5-10</span> | <span style="color: red">&#62;10</span></td>
        </tr>
        </table>
    </div>
    <div class="column">
        <table id="table2" style="width: 100%">
            <tr>
            <th>Latest Operation</th>
            <th>Status</th>
            <th>Recorded</th>
            <th>Accptable Range</th>
            </tr>
            <tr>
            <td>Maximum Current</td>
            <td id="latestOperationA_2"></td>
            <td id="latestMaxA_2"></td>
            <td class="textmiddle"><span style="color: green">&#60;12</span> | <span style="color: orange">12-16</span> | <span style="color: red">&#62;16</span></td>
            </tr>
            <tr>
            <td>Steady Current</td>
            <td id="latestOperationB_2"></td>
            <td id="latestSteadyA_2"></td>
            <td class="textmiddle"><span style="color: green">&#60;3</span> | <span style="color: orange">3-6</span> | <span style="color: red">&#62;6</span></td>
            </tr>
            <tr>
            <td>Operation Time</td>
            <td id="latestOperationC_2"></td>
            <td id="latestTime_2"></td>
            <td class="textmiddle"><span style="color: green">&#60;7.5</span> | <span style="color: orange">7.5-10</span> | <span style="color: red">&#62;10</span></td>
            </tr>
        </table>
    </div>
</div>

<H5 id="PMID"></H5>
<div style="width: 50%; float:left">
    <H3 id="faultPresent"><span id="stickyChair"></span><span id="encountersObstruction"></span><span id="failsLock"></span><span id="failsStart"></span><span id="failsSwitch"></span><span id="normal"></span></H3>
</div>
<div style="margin-left: 50%;">
    <H3 id="faultPresent_2"><span id="stickyChair_2"></span><span id="encountersObstruction_2"></span><span id="failsLock_2"></span><span id="failsStart_2"></span><span id="failsSwitch_2"></span><span id="normal_2"></span></H3>
</div>


<div id="div" class="chartBox">
    <canvas id="myChart"></canvas>
</div>
<div id="div1" class="chartBox" style="width: 50%; height: 100%; float: left;">
    <canvas id="myChart_A"></canvas>
</div>
<div id="div2" class="chartBox" style="margin-left: 50%; width: 50%; height: 100%;">
    <canvas id="myChart_B"></canvas>
</div>
<script type="text/javascript" src="../js/realTime.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>

<h4>Failures Happened</h4>
<table id="recordTable">
    <tr>
        <th>Record</th>
        <th>Detected Problem</th>
    </tr>   
</table>
</body>
{% endblock %}