{% extends "base.html" %}

{% block content %}
    <style>
        .chartBox {
            width: 80%;
        }
    </style>
    <select id="list" onchange="printthing();analysisChart();">
        <option value="671A">671A</option>
        <option value="671B">671B</option>
        <option value="672">672</option>
    </select>
    <select id="toCheck" onchange="printthing();analysisChart();">
        <option value="Maximum Current">Maximum Current</option>
        <option value="Steady State Current">Steady State Current</option>
        <option value="Operating Time">Operating Time</option>
    </select>
    <p id="trial"></p>
    <p id="trial2"></p>
    <p id="trial3"></p>
    <p id="trial4"></p>
    <p id="trial5"></p>
    <p id="trial6"></p>

    <div id="div" class="chartBox">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/trend.js"></script>
{% endblock %}